body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.cursive {
  text-transform: none;
  font-family: 'Sacramento', sans-serif;
}
.skinny {
  font-family: 'Quicksand', sans-serif;
}
*::selection {
  background-color: #1D738A;
  color: #fff;
}
.light-navy {
  color: #1D738A;
}
.teal {
  color: #50B4BD;
}
a:hover {
  color: #EE6951;
  text-decoration: none;
}
.sienna {
  color: #EE6951;
}
.light-sienna {
  color: #FF8C77;
}
.navbar {
  font-size: .8rem;
  font-weight: 400;
}
.jumbotron {
  background-size: cover;
  height: 300px;
  margin-top: 50px;
}
#header-home {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 255, 255, 0.35)), url("https://raw.githubusercontent.com/isadoracreative/williams-colmenares-wedding/master/images/merida-hillside.jpg");
  background-position: 50% 35%;
}
#header-schedule {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 255, 255, 0.15)), url("https://raw.githubusercontent.com/isadoracreative/williams-colmenares-wedding/master/images/ny-wedding-day.jpg");
  background-position: 50% 20%;
}
#header-registry {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 255, 255, 0.05)), url("https://raw.githubusercontent.com/isadoracreative/williams-colmenares-wedding/master/images/pio-isa-in-a-box.jpg");
  background-position: 50% 60%;
}
#header-activities {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 255, 255, 0.35)), url("https://raw.githubusercontent.com/isadoracreative/williams-colmenares-wedding/master/images/everglades.jpg");
  background-position: 50% 60%;
}
h1 {
  text-transform: uppercase;
}
.dotted-divider {
  font-size: 2.8rem;
  line-height: 0;
}
.fa-heart {
  font-size: 1.2rem;
}
.icons {
  font-size: 2rem;
  font-weight: 400;
}
p.date {
  font-size: 2.4rem;
  line-height: 2.9rem;
}
p.location {
  font-weight: 700;  
  text-transform: uppercase;
  letter-spacing: .1rem;
}
ul {
  list-style: none;
}
ul.bullet-link-list li::before {
  content: "•\00a0";
  color: #50B4BD;
}
.fa-bicycle {
  font-size: 3rem;
}
#footer-nav {
  font-size: .9rem;
}
#copyright {
  font-size: .9rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .jumbotron {
    height: 400px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron {
    height: 550px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}